   [Parameters]

bkg_Mass_mean =  290. +/- 100. L(190. - 390.)
bkg_Mass_sigma =  30. +/- 20. L(10. - 50.)

N_bkg = 10. +/- 500. L(1 - 600) 

   [Observables]

massggnewvtx = 125 C L(100 - 180)        // [GeV]
mjj          = 125 C L(50  - 250)        // [GeV]
mggjj        = 500 C L(200 - 700)        // [GeV]
btagCategory = 1   C L (0.9 - 2.1)
