   [Parameters]

bkg_Mass_exp = -0.02 +/-  0.01 L(-0.03 - -0.005)

N_bkg =  10. +/- 500. L(1 - 600) 

   [Observables]

massggnewvtx = 125 C L(100 - 180)        // [GeV]
mjj          = 125 C L(50  - 250)        // [GeV]
mggjj        = 500 C L(300 - 1000)        // [GeV]
btagCategory = 1   C L (0.9 - 2.1)
