   [Parameters]

sig_Mass_mean   = 125 +/- 10 C L(100 - 160)
sig_Mass_sigmaL = 1. +/- 2.  C L(0.001 - 5)
sig_Mass_sigmaR = 1. +/- 2.  C L(0.001 - 5)
sig_Mass_alphaL = 0.2 +/- 2. C L(0 - 1000)
sig_Mass_alphaR = 0.2 +/- 2. C L(0 - 1000)

#bkg_Mass_exp = -2.2e-02 +/-  1.24e-03 L(-0.025 - 0.)
bkg_Mass_exp = 0.02 +/-  0.05 L(-0.05 - 0.)

#bkg_Mass_p1 = 9.1686e-02 +/-  1.16e-10  L(0 - 1.)
#bkg_Mass_p2 = 5.9534e-02 +/-  2.13e-10  L(0 - 1.)
#bkg_Mass_p3 = 3.9277e-02 +/-  9.72e-11  L(0 - 1.)
#bkg_Mass_p4 = 2.6232e-02 +/-  2.33e-02 L(0 - 1.)
#bkg_Mass_p5 =  0.015552 +/- 0.015552 L(0 - 0.05)

N_sig =  0. +/- 0.000  C L(-100 - 1000)
N_bkg =  150. +/- 300. L(50 - 500) 

   [Observables]

massggnewvtx = 125 C L(100 - 180)        // [GeV]
mjj          = 125 C L(10  - 300)        // [GeV]
mggjj        = 300 C L(10 - 1500)        // [GeV]
btagCategory = 1   C L (0.9 - 2.1)
